<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Mockup Server Inn Internal (Flask based web app, created by Csaba S.)</title>
    <!-- Include Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
</head>
<body class="container mt-4">
    <div class="container">
        <h1 class="mb-4">API Mockup Server</h1>
        <p>
            This lightweight Python application enables you to simulate APIs existing in PROD or other staging environments.
            It can be used without even creating an API in Skye. Its usage is straightforward: you simply paste the desired response,
            enter the response code (such as always returning HTTP 200, 201, or possibly 400), and define the Request Type.
            Yes, it supports XML/JSON types as well.
        </p>

        <div class="mt-4">
            <h5>Key Features:</h5>
            <ul>
                <li>Supports XML/JSON</li>
                <li>Allows specifying the response code</li>
                <li>Supports 'GET', 'POST', 'PUT', 'UPDATE', 'DELETE' methods</li>
                <li>Easy to use and can be utilized for Skye; you just need to create an HTTP Invoker</li>
                <li>Your response will be saved using SQLite3 (until I restart the server, or after 24 hours — Smile)</li>
                <li>Automatic redirection to the API endpoint, supporting browser view</li>
            </ul>
        </div>

        <p>
            SSL certificate is installed, and it is built using Flask, Python, Waitress, and Bootstrap, Jinja2,
            source code: <a href="https://github.com/csabika98/mocker" target="_blank">https://github.com/csabika98/mocker</a>
        </p>
    </div>


<body class="container mt-4">
    <form id="mockupForm" method="POST" onsubmit="submitForm(event)">
        <div class="form-group">
            <label for="request_type">Request Type:</label>
            <select class="form-control" id="request_type" name="request_type">
                <option value="JSON">JSON</option>
                <option value="XML">XML</option>
            </select>
        </div>

        <div class="form-group">
            <label for="response_code">Response Code:</label>
            <input type="text" class="form-control" id="response_code" name="response_code" value="200">
        </div>

        <div class="form-group">
            <label for="request_data">Request Data:</label>
            <textarea class="form-control" id="request_data" name="request_data" rows="10" cols="80"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Send Request</button>
    </form>
    <br>
    <a href="/get_response?id={{ latest_id }}" target="_blank" id="view_response_link" class="btn btn-secondary" onclick="openResponsePage()">View the latest sent Response</a>

    <!-- Include Bootstrap JS and Popper.js from CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 



    <script>
        function submitForm(event) {
            event.preventDefault();  // Prevent the default form submission
            var form = document.getElementById('mockupForm');
            form.action = '/api';  // Update the action to the API endpoint
            form.method = 'POST';  // Ensure it's a POST request
            var formData = new FormData(form);
    
            fetch(form.action, {
                method: form.method,
                body: formData,
            })
            .then(response => {
                // Check the Content-Type of the response
                var contentType = response.headers.get('Content-Type');
                if (contentType && contentType.includes('application/json')) {
                    return response.json();  // If JSON, parse as JSON
                } else {
                    return response.text();  // If not JSON, treat as plain text
                }
            })
            .then(data => {
                // Check for errors in the response
                if (data.error) {
                    // Display the error message to the user
                    alert('Error: ' + data.error);
                } else {
                    // Handle the response, e.g., update the link to view the response
                    getNextResponseId().then(latestId => {
                        var viewResponseLink = document.getElementById('view_response_link');
                        viewResponseLink.href = `/get_response?id=${latestId}`;
                        window.location.href = `/get_response?id=${latestId}`;
                    });
                }
            })
            .catch(error => console.error('Error:', error));
        }
    
        function getNextResponseId() {
            // Fetch the latest response ID from the server
            return fetch('/get_latest_response_id')
                .then(response => response.json())
                .then(data => {
                    return data.latest_response_id;
                })
                .catch(error => console.error('Error fetching latest response ID:', error));
        }
    </script>
    
        

    
</body>
</html>


